#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.resources-list {
  width: 100%;
  min-height: 150px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.resources-list li {
  flex: 0 1 auto;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.refined-resources {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
}

.refined-resources li {
  flex: 0 1 auto;
  list-style-type: none;
}